#root {
  width: 100%;
  height: 100dvh;
  text-align: center;
}

#list-container::-webkit-scrollbar-track,
#list-container::-webkit-scrollbar,
#list-container::-webkit-scrollbar-thumb {
  display: none;
}
