@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Mona Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  background-color: #e0e0e0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-mona: "Mona Sans", sans-serif;
  --animate-fadein: fadein 500ms ease-in-out;
  --animate-fadeout: fadeout 200ms ease-in-out;
  --animate-tab-fadein: tab-fadein 500ms ease-in-out;
  --animate-tab-fadeout: tab-fadeout 1000ms ease-in-out;
  --animate-fadeinout: fadeinout 1500ms ease-in-out;
  --animate-item-fadeout: item-fadeout 1500ms ease-in-out;
  --animate-tooltip-fadeoutin: tooltip-fadeoutin 350ms ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100dvh;
  cursor: none;
}

button {
  cursor: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes item-fadeout {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes tab-fadein {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes tab-fadeout {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes tooltip-fadeoutin {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
